
.Forum-Box{
  flex-grow: 1;
  background-color: #a4bdfa;
  pointer-events: auto;
}


.Section-Box{
  height: 100px;
  flex-grow: 1;
  background-color: #EEE;
  border: 1px solid #333;
  cursor: pointer;
}

.ReactForum-RegisterBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ReactForum-LoginBox{

}




/* REGISTER */


/* Create User */
.CreateUser-firstTimeSetupBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CreateUser-firstTimeSetupText{
  margin-bottom: 10px;
}


/* Threads */
.ThreadItem-Box{
  width: 100%;
  height:40px;
  background-color: #5ca2ff;
  cursor: pointer;
}
